<!-- <div>
  <h1>{{message}}</h1>
</div>


<form>
  <div class="form-outline mb-4">
    <input type="text" [(ngModel)]="uname" name="name" id="name" placeholder="Enter username" required>
  </div>
  <div>
    <label for="pass">Enter password:</label>
    <input type="text" [(ngModel)]="pass" name="pass" id="pass" placeholder="Enter user password" required>
  </div>
  <div>
    <input type="button" class="submit" value="Login" (click)="loginnow()">
  </div>
</form> -->

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-4 mt-md-4 pb-2">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-2" *ngIf="invalidLogin">{{message}}</p>
              <br>

              <div class="form-outline form-white mb-4">
                <input type="text" [(ngModel)]="uname" id="uname" class="form-control form-control-lg" placeholder="Username" required="required" />
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" [(ngModel)]="pass" id="password" class="form-control form-control-lg" placeholder="Password" required="required" />
              </div>


              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="loginnow()">Login</button>
              <br>
              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/tweets/forget">Forgot password?</a></p>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/tweets/register" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
