<!-- <nav class="navbar navbar-fixed-top" role="navigation">
  <button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-home"></span></button>
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control mr-sm-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </form>
</nav> -->

<!-- <nav class="nav bg-light navbar-fixed-top">
  <button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-home"></span></button>
  <span style="float: right;"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></span>
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</nav> -->

<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <nav class="nav navbar-expand-md navbar-dark navbar-fixed-top">
          <!-- <a href="" class="navbar-brand"><img src="assets/logoS.png" height="200" width="200"></a> -->
          <ul class="navbar-nav">
                  <li><a *ngIf="authServ.isUserLoggedIn()"
                                  routerLink="/tweet"
                                  class="nav-link active"><span class="glyphicon glyphicon-home"></span></a></li>
                  <li><a *ngIf="authServ.isUserLoggedIn()"
                                    routerLink="/tweet"
                                    class="nav-link active"><i>@{{this.authServ.getUser()}}</i></a></li>
                  <li><a *ngIf="authServ.isUserLoggedIn()"
                                  href='/tweets/{{this.authServ.getUser()}}/all'
                                  class="nav-link active">Tweets</a></li>
                  <li><a *ngIf="authServ.isUserLoggedIn()"
                                  routerLink="/tweets/search"
                                  class="nav-link active">Search</a></li>
          </ul>
          <ul class="navbar-nav navbar-collapse justify-content-center">

            <a *ngIf="authServ.isUserLoggedIn()"
                                  class="nav-link active">Today's Date: {{latest_date}}</a>

          </ul>
          <ul class="navbar-nav navbar-collapse justify-content-end">
                  <li><a *ngIf="authServ.isUserLoggedIn()" routerLink="/tweets/logout"
                                  class="nav-link active"><span class="glyphicon glyphicon-off"></span></a></li>
          </ul>
  </nav>

</header>

